body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background.jpg);
	height: 100vh;
}

p{
	border-radius: 6px;
	-webkit-transition: transform 0.6s;
	-o-transition: transform 0.6s;
	transition: transform 0.6s;
	margin-bottom: 30px;
	border: 6px solid #513e5c;
	width: 220px;
	color: white;
}	
	
p:hover{
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}




ul {
	
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslategray;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: black;
  text-align: center ;
  padding: 20px 10px;
  text-decoration: none;
  margin-left: 55px;
  
}

li a:hover:not(.active) {
  background-color: #513e5c;
}

.active {
  background-color: #a9bcc6;
}
.brand{
	width: 200px;
	text-align: center;
	margin-left: 200px;
}

}

	
.footer{
	text-align: center;
	color: whitesmoke;
	font-family: fantasy;
	font-size: 20px;

}

h1{
	color: white;
	text-shadow:0 3px 3px rgba(0,0,0,0.5) ;
}
header h2{
	text-align: center;
	font-size: 50px;
	color: forestgreen;
	text-shadow: 0 3px 3px rgba(0,0,0,0.5) ;

	
	
}
h3{
	font-family: monospace;
	color: honeydew;
	text-align: center;
	
}
